{% extends 'mixins/base.html' %} 

{% block content %}
  <h1>{% block title %} Редактирование {{ service['title'] }} {% endblock %}</h1>

  <form method="post">
    <div class="form-group">
      <label for="title">Название</label>
      <input
        type="text"
        name="title"
        placeholder="Yandex"
        class="form-control"
        value="{{ service['title'] }}"
      />
    </div>

    <div class="form-group">
      <label for="url">Ссылка</label>
      <textarea name="url" placeholder="https://" class="form-control">{{ service['url'] }}</textarea>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
  </form>

  <hr />

  <form action="{{ url_for('delete', id=service['id']) }}" method="POST">
    <input 
      type="submit" 
      class="btn btn-danger"
      value="Удалить"
      onclick="confirm('Are you sure you want to delete this post?')">
  </form>
{% endblock %}
